body {
  text-align: center;
  font-family: Helvetica;
}
.intro {
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
}
#headliner {
  font-size: 70px;
  font-weight: bold;
  color: White
}
#title-process {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
}
.text-white {
  color: white;
  font-size: 18px;
}
h3 {
  font-size: 23px;
  font-weight: bold;
}
.process-text {
  font-size: 14px
}
#design-title {
  color: white;
  font-size: 23px;
  font-weight: bold;
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
}
.design-text {
  font-size: 14px
}
.contact-nav {
  background-color: dimgray;
  text-align: left;
  color: white;
  font-size: 11px;
}
.footer-nav {
  font-size: 18px;
  color: white;
}
